/**************** N A V B A R ****************/

.navbar-estilo {
    background-color: #8fc6fa;
}
.navlink-estilo {
    color: blue;
}
.dropdownmenu-estilo {
    background-color: #d7ecff;
}

/**************** C A R R U S E L ****************/
.carrusel-estilo {
    padding-left: 0px;
    padding-right: 0px;
}

/**************** F O O T E R ****************/
.page-footer {
    background-color: #222;
    color: #ccc;
    padding-top: 10px;
}
.footer-copyright {
    color: #666;
    padding-top: 0;
    padding-bottom: 10px;
}